body {
    background-color: #bee3ff;
    margin: 0px;
}

#imageContainer
{
    margin: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
    overflow-y: hidden;
}

#status {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px;
    background-color: rgba(255,255,255,0.9);
}

#timestamp {
    font-size: 1.5em;
    padding: 2px;
    width: 100%;
    text-align: right;
}

#SPO2, #BPM {
    font-size: 3em;
    width: 5em;
    text-align: right;
}

#SPO2 {
    color: red;
}

#BPM {
    color: #448844;
}

#alarmsContainer > div {
    font-size: 2em;
    color: red;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}

#config {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.9);
}

#latest, #latest_jpeg {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#vuMeterDiv{
	transform-origin: top center;
	width: 25px;
	height: 200px;
	margin:auto;
	position: absolute;
	top:50%;bottom:50%; /* vertical center */
	margin-top: 100px;
	left:90%; right: 10%;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

#vuMeter{
	width: 200px;
	height: 25px;
}

#tempButtonDiv
{
	text-align: center;
	margin: auto;
    position: absolute;
	position: absolute;
	top: 5%; bottom: 95%;
	left: 3%; right: 97%;
	z-index: 5;
}

#sheepButtonDiv
{
	margin: auto;
    position: absolute;
	position: absolute;
	bottom: 5%;
	left: 3%;
	z-index: 5;
}

#settingsButtonDiv
{
	margin: auto;
    position: absolute;
	position: absolute;
	top: 5%;
	right: 3%;
	z-index: 5;
}

#musicButtonDiv
{
	margin: auto;
    position: absolute;
	position: absolute;
	bottom: 5%;
	right: 3%;
	z-index: 5;
}

#tempButton{
	text-align: center;
	width: 50px;
	height: 50px;
	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    button:focus {outline:0;}
}

#sheepButton{
	width: 50px;
	height: 50px;
	button:focus {outline:0;}
}

#settingsButton{
	width: 50px;
	height: 50px;
	button:focus {outline:0;}
}

#musicButton{
	width: 50px;
	height: 50px;
	button:focus {outline:0;}
}

#lightButtonDiv
{
	margin: auto;
    position: absolute;
    display: block;
	left: 3%;
	top: 50%;
	margin-top: -25px;
	z-index: 5;
}

#lightButton{
	width: 50px;
	height: 50px;
	button:focus {outline:0;}
}