body {
    background-color: black;
    margin: 0px;
}

#imageContainer
{
    margin: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
    overflow-y: hidden;
}

#status {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px;
    background-color: rgba(255,255,255,0.9);
}

#timestamp {
    font-size: 1.5em;
    padding: 2px;
    width: 100%;
    text-align: right;
}

#SPO2, #BPM {
    font-size: 3em;
    width: 5em;
    text-align: right;
}

#SPO2 {
    color: red;
}

#BPM {
    color: #448844;
}

#alarmsContainer > div {
    font-size: 2em;
    color: red;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}

#config {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.9);
}

#latest, #latest_jpeg {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#vuMeterDiv{
	margin:auto;
	position: absolute;
	top:50%;bottom:50%; /* vertical center */
	right: 50px;
}

#vuMeter{
	width: 250px;
	height: 50px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

#muteButtonDiv
{
	position: absolute;
	top: 50px;
	left: 100px;
	z-index: 5;
}

#muteButton{
	width: 50px;
	height: 50px;
}